<section id="{{page.header.section}}">
<div class="container">
    {{ content }}

        <p>
        Debido a los reveladores resultados que estamos consiguiendo en nuestra actividad investigadora, desde Chaotic Kingdoms Campus deseamos poner a su servicio nuestra experiencia para:
        </p>

        <div class="row hints">
          <div class="col-sm-4">
            <i class="fa fa-trophy"></i>
            <p>Crear cursos online atractivos y motivadores</p>
          </div>

          <div class="col-sm-4">
            <i class="fa fa-line-chart"></i>
            <p>Mejorar los procesos de formación en todo tipo de organizaciones</p>
          </div>

          <div class="col-sm-4">
            <i class="fa fa-users"></i>
            <p>Implantar sistemas de colaboración efectivos en medianas y grandes empresas</p>
          </div>
        </div>
        <br><br>
        <p class="lead">
        También colaboramos en diversos cursos y másteres sobre tecnologías de desarrollo de software:
        
        </p><div class="modal fade" id="curso-android" tabindex="-1" role="dialog" aria-labelledby="curso-android-label" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="curso-android-label">Información del curso</h4>
              </div>
              <div class="modal-body">
                <h2>Curso de Programación de Aplicaciones y Juegos para Android</h2>
                El objetivo principal del curso es que el alumno adquiera los conocimientos y habilidades necesarios para desarrollar aplicaciones y juegos para plataformas Android.<br><br> 
                El curso consta de 7 semanas y está dividido en una parte on-line y otra presencial. La parte presencial serán 6 sesiones de 2 horas por semana.
                <h3>Temario</h3>
                Tema 1: Introducción a Android<br>
                Tema 2: Interfaz de usuario: layouts, views y activities<br>
                Tema 3: Almacenamiento de datos<br>
                Tema 4: Sistema de geo-localización (GPS) y utilización de mapas<br>
                Tema 5: Conectividad<br>
                Tema 6: Desarrollo de aplicaciones avanzadas: utilización de sensores<br>
                Tema 7: Juegos con AndEngine: Introducción<br>
                Tema 8: Juegos con AndEngine: Técnicas Avanzadas<br>
                Tema 9: Juegos con AndEngine: Técnicas Avanzadas II y Monetización<br>
                <br> 
                Más información: <a href="http://www.mobigame.uah.es/curso/" target="_blank">http://www.mobigame.uah.es/curso/</a> <i class="fa fa-external-link"></i>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Volver</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="master-moviles" tabindex="-1" role="dialog" aria-labelledby="master-moviles-label" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="master-moviles-label">Información del curso</h4>
              </div>
              <div class="modal-body">
                <h2>Máster en Tecnologías y Dispositivos Móviles</h2>

                El máster universitario “Máster en Tecnologías y Dispositivos Móviles” de la Universidad de Alcalá fue creado en el año 2011-2012 por los profesores José María Gutiérrez Martínez y Luis de Marcos Ortega del Departamento de Ciencias de la Computación de la Universidad de Alcalá.<br>
                <br>
                Chaotic Kingdoms se ha encargado desde la primera edición del master de la creación e impartición de las asignaturas “Desarrollo para iPhone” y “Desarrollo para iPhone avanzado”. El objetivo de las mismas es la enseñanza de fundamentos básicos y avanzados del desarrollo de aplicaciones nativas para iOS, enfocándose en los dispositivos iPhone.<br>
                <br>
                A su vez Chaotic Kingdoms ha colaborado con la Universidad de Alcalá ofreciendo prácticas en empresa a los alumnos del máster durante sus dos ediciones hasta la fecha.

                <h3>Temarios</h3>
                <h4>Desarrollo para iPhone</h4>
                TEMA 1: Introducción al desarrollo para iPhone<br>
                TEMA 2: Objective-C básico<br>
                TEMA 3: XCode básico<br>
                TEMA 4: Escenas, vistas y controladores<br>
                TEMA 5: Transiciones<br>
                TEMA 6: Vistas<br>

                <h4>Desarrollo para iPhone avanzado</h4>
                TEMA 1: Objective-C avanzado<br>
                TEMA 2: Gráficos<br>
                TEMA 3: Persistencia I – Modelado de datos<br>
                TEMA 4: Persistencia II – Ficheros e iCloud<br>
                TEMA 5: Web<br>
                TEMA 6: Aprovisionamiento y comercialización de apps<br><br>

                Más información: <a href="http://www.mobigame.uah.es/master/" target="_blank">http://www.mobigame.uah.es/master/</a> <i class="fa fa-external-link"></i>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Volver</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="curso-moviles" tabindex="-1" role="dialog" aria-labelledby="curso-moviles-label" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="curso-moviles-label">Información del curso</h4>
              </div>
              <div class="modal-body">
                <h2>Curso de Formación en Desarrollo de Aplicaciones Móviles</h2>
               El curso de formación “Curso de Formación en Desarrollo de Aplicaciones Móviles” fue creado en el año 2012-2013 por la empresa Anova Consulting IT y la Universidad de Alcalá, con la colaboración de la empresa Chaotic Kingdoms para elaborar e impartir los contenidos del curso.<br>
               <br>
              El objetivo del curso es la enseñanza de los fundamentos básicos e intermedios del desarrollo de aplicaciones nativas para dispositivos iOS, Android y Windows Phone 8, utilizando los entornos Eclipse, XCode y Visual Studio.<br>
              <br>
              Actualmente el curso va a dar comienzo a su 3ª edición, enfocándose en un alumno con perfil de profesional que desea reciclar sus conocimientos para introducirse en el desarrollo nativo para dispositivos móviles.
                <h3>Temario</h3>
                <strong>MÓDULO 1: TECNOLOGÍAS MÓVILES</strong><br>
                Introducción a las tecnologías móviles: pasado, presente y futuro.<br>
                Sensores, tipos de aplicaciones y dispositivos.<br>
                La plataforma Android: fundamentos y nuevas funcionalidades en sus últimas versiones.<br>
                La plataforma iOS en la actualidad. Presentación del Entorno de Desarrollo XCODE.<br>
                Windows Phone. Su SDK para desarrollar aplicaciones.<br>
                <br>
                <strong>MÓDULO 2: DESARROLLO DE APLICACIONES PARA ANDROID</strong><br>
                Introducción a la programación para Android. Arquitectura.<br>
                Elementos de interfaces de usuario.<br>
                Conceptos avanzados: aplicaciones con mapas, GPS y sensores.<br>
                Acceso a recursos de red.<br>
                <br>
                <strong>MÓDULO 3: DESARROLLO DE APLICACIONES PARA iOS</strong><br>
                Programación Orientada a Objetos<br>
                Proceso de Generación de una aplicación para iPhone<br>
                Fundamentos del Lenguaje de Programación Objetive-C<br>
                Programación Avanzado en Objetive-C<br>
                Entorno X-CODE<br>
                Creación de Interfaces con Interface Builder<br>
                COCOA. Los frameworks de MAC OS X<br>
                Otras herramientas de Desarrollo<br>
                <br>
                <strong>MÓDULO 4: DESARROLLO DE APLICACIONES PARA WINDOWS PHONE 8</strong><br>
                Introducción a Windows Phone 8<br>
                Entorno de Desarrollo<br>
                Fundamentos de Desarrollo de Interfaces en Windows Phone 8<br>
                Funcionalidades de Windows Phone 8<br>
                Integración con Web Services<br>
                <br>
                <br>
                Más información: <a href="http://www.anovagroup.es/es_ES/servicios/formacion/catalogo-de-cursos/formacion-abierto/%20cursos-no-subvencionados/curso-de-formacion-en-desarrollo-de-aplicaciones-moviles.html" target="_blank">web de Anova</a> <i class="fa fa-external-link"></i>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Volver</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="curso-videojuegos" tabindex="-1" role="dialog" aria-labelledby="curso-videojuegos-label" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="curso-videojuegos-label">Información del curso</h4>
              </div>
              <div class="modal-body">
                <h2>Cursos de Introducción y Técnicas Avanzadas para el Desarrollo de Videojuegos</h2>
               
                Los cursos de extensión “Curso de Introducción al Desarrollo de Videojuegos” y “Curso de Técnicas Avanzadas para el Desarrollo de Videojuegos” de la Universidad de Alcalá han sido creados e impartidos desde el año 2010-2011 por Adrián Domínguez Díaz y Sergio Padrino Recio, socios fundadores de Chaotic Kingdoms, con la dirección de Miguel Ángel Sicilia Urbán, profesor titular del departamento de Ciencias de la Computación en la Universidad de Alcalá.<br>
                <br>
                El objetivo de los mismos es la enseñanza de los fundamentos esenciales del desarrollo de videojuegos, enfocándose el primero en la creación de un juego sencillo, y el segundo en la aplicación de técnicas avanzadas relacionadas con gráﬁcos, físicas o inteligencia artiﬁcial, utilizando para ello el motor Unity 3D.<br>
                <br>
                Actualmente los cursos se encuentran en su 3ª edición, y ya han pasado por ellos más de 250 alumnos de distintas carreras universitarias.
                <h3>Temario</h3>
                <h4>Curso de Introducción al Desarrollo de Videojuegos</h4>
                <p>TEMA 1. Unity 3D: Introducción.<br>
                TEMA 2. El mundo: Modelos 3D, terreno e iluminación.<br>
                TEMA 3. El personaje: Control, cámara y colisiones.<br>
                TEMA 4. Los enemigos: IA y scripting.<br>
                TEMA 5. Otros aspectos: Sonido, interfaz y menús.</p>
                <h4>Curso de Técnicas Avanzadas para el Desarrollo de Videojuegos</h4>
                <p>TEMA 1. Arquitectura de Componentes.<br>
                TEMA 2. Gráficos 3D avanzados.<br>
                TEMA 3. Mejoras de rendimiento.<br>
                TEMA 4. Físicas.<br>
                TEMA 5. Inteligencia Artificial Avanzada.<br>
                TEMA 6. Introducción a Juegos en Red.<br>
                TEMA 7. Cómo ganarse la vida con los videojuegos.</p>

                <br>
                Más información: <a href="http://www.cc.uah.es/ie/cursos/videojuegos_basico14/" target="_blank">http://www.cc.uah.es/ie/cursos/videojuegos_basico14/</a> <i class="fa fa-external-link"></i>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Volver</button>
              </div>
            </div>
          </div>
        </div>

        <div class="row courses">
          <div class="col-md-6">
            <a class="course" href="#" data-toggle="modal" data-target="#curso-android">
              <i class="fa fa-android"></i>
              Curso de Programación de Aplicaciones y Juegos para Android
            </a>
          </div>

          <div class="col-md-6">
            <a class="course" href="#" data-toggle="modal" data-target="#master-moviles">
              <i class="fa fa-mobile"></i>
              Máster en Tecnologías y Dispositivos Móviles
            </a>
          </div>
          
          <div class="col-md-6">
            <a class="course" href="#" data-toggle="modal" data-target="#curso-moviles">
              <i class="fa fa-mobile"></i>
              Curso de Formación en Desarrollo de Aplicaciones Móviles
            </a>
          </div>

          <div class="col-md-6">
            <a class="course" href="#" data-toggle="modal" data-target="#curso-videojuegos">
              <i class="fa fa-gamepad"></i>
              Cursos de Introducción y de Técnicas Avanzadas para el Desarrollo de Videojuegos
            </a>
          </div>

        </div>
        <p></p>
   
</div>
</section>